@model Library10.Models.Library

@{
    ViewData["Title"] = "Details";
}

<h1>פרטים</h1>
<td>
    <a asp-controller="Shelves"  asp-action="Create">הוסף מדף</a> |
    <a asp-controller="Shelves" asp-action="Details">מדפים</a> |
</td>
<div>
    <h4>@Html.DisplayFor(model => model.LibraryName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibraryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה</a>
</div>
