@model IEnumerable<Library10.Models.Library>

@{
    ViewData["Title"] = "ספריות";
}

<h1>ספריות</h1>

<p>
    <a asp-action="Create">הוסף ספרייה חדשה</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibraryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibraryName)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.LibraryId">Edit</a> | *@
                    <a asp-controller="Shelves" asp-action="Index" asp-route-libId=@item.LibraryId asp-route-libName=@item.LibraryName>מדפים בספרייה זו</a> 
                   @* | <a asp-controller="Shelves" asp-action="Create" asp-route-libId=@item.LibraryId asp-route-libName=@item.LibraryName>הוסף מדף חדש לספרייה זו</a> *@
                @* <a asp-action="Delete" asp-route-id="@item.LibraryId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
